In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
data = pd.read_csv('/home/surya/Documents/dataset/UCI/bank/bank/bank.csv',header=0)
data.dropna()
data.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  30;"unemployed";"married";"primary";"no";1787;...
1  33;"services";"married";"secondary";"no";4789;...
2  35;"management";"single";"tertiary";"no";1350;...
3  30;"management";"married";"tertiary";"no";1476...
4  59;"blue-collar";"married";"secondary";"no";0;...