In [3]:
import numpy as np;
import pandas as pd;

In [1]:
s=pd.Series([1,3,5,np.nan,6,7,8])
s

NameError: name 'pd' is not defined

In [9]:
dates=pd.date_range('20130101',periods=12)

In [10]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [16]:
df=pd.DataFrame(np.random.randn(12,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.835096 -0.826593  0.943998 -1.547154
2013-01-02 -0.721618 -0.258303  2.664199 -0.021812
2013-01-03 -0.100809 -0.477316 -1.466555 -0.170217
2013-01-04  1.156949 -0.129947 -0.609256 -0.791945
2013-01-05 -0.656997 -0.997894 -0.147552 -1.165347
2013-01-06 -1.183469  0.854963  0.194700 -0.664807
2013-01-07  0.223993  0.965340 -0.920825 -1.006741
2013-01-08 -0.927046 -1.355556  0.239576 -0.248207
2013-01-09  1.336861 -0.846574  0.445883 -0.481109
2013-01-10  0.465843 -0.073233  1.900193  1.362387
2013-01-11 -0.246590  1.129747 -0.988025 -0.002841
2013-01-12 -0.631808 -0.697849 -0.996003 -0.930871